---
import Hero from './Hero.astro';
import AboutSection from './sections/AboutSection.astro';
import ArtSection from './sections/ArtSection.astro';
import ExhibitionsSection from './sections/ExhibitionsSection.astro';
import PublicationsSection from './sections/PublicationsSection.astro';
import ResearchSection from './sections/ResearchSection.astro';
import PressSection from './sections/PressSection.astro';
import ContactsSection from './sections/ContactsSection.astro';
import { type LocaleKey } from '../data/translations';

interface Props {
  locale: LocaleKey;
}

const { locale } = Astro.props;
---

<div class="scroll-page">
  <Hero locale={locale} />
  <AboutSection locale={locale} />
  <ArtSection locale={locale} />
  <ExhibitionsSection locale={locale} />
  <PublicationsSection locale={locale} />
  <ResearchSection locale={locale} />
  <PressSection locale={locale} />
  <ContactsSection locale={locale} />
</div>
